<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

<div class="container">
    <div class="post-list">
        <% page.posts.each(function (post) { %>
        <article class="post-list-item" id="<%= post.title %>">
            <div class="content">
                <% if (post.long) { %>
                    <div class="content-body content-body-long<%= post.draft ? ' draft-card' : '' %>">
                        <div class="post-header">
                            <div class="time">
                                <span><%= ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][post.date.month()] %></span>
                                <span>&nbsp;<%- post.date.date() %>,&nbsp;</span>
                                <span><%- post.date.year() %></span>
                                <% if (post.edit) { %>
                                    <span>(edited)</span>
                                <% } %>
                            </div>
                            <a href="<%- url_for(post.path) %>">↗</a>
                        </div>
                        <!-- Shows a cover image, if it has one -->
                        <% if (post.cover_image) { %>
                            <div class="cover-img">
                                <img class="<%= post.draft ? 'draft-card' : '' %>" src="<%= post.cover_image %>" alt="<%= post.cover_image_alt %>">
                            </div>
                        <% } %>
                        <!-- Show the title, if it has one -->
                        <% if (post.show_title) { %>
                            <p class="title">
                                <%= post.title %>
                            </p>
                        <% } %>
                        <!-- Show the excerpt, only used for long form posts. Will also add a button to "read more" -->
                        <% if (theme.show_excerpt) { %>
                        <p>
                            <%- post.excerpt %>
                        </p>
                        <a class="read-more<%- post.draft ? ' draft-button' : '' %>" href="<%- url_for(post.path) %>">
                            <%= post.draft ? 'Coming soon' : 'Keep reading' %>
                        </a>
                        <% } %>
                    </div>
                <% } else if (post.short) { %>
                    <div class="content-body">
                        <div class="post-header">
                            <div class="time">
                                <span><%= ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][post.date.month()] %></span>
                                <span>&nbsp;<%- post.date.date() %>,&nbsp;</span>
                                <span><%- post.date.year() %></span>
                                <% if (post.edit) { %>
                                    <span>(edited)</span>
                                <% } %>
                            </div>
                            <a href="<%- url_for(post.path) %>">↗</a>
                        </div>
                        <%- post.content %>
                    </div>
                <% } %>
            </div>
        </article>
        <% }) %>
    </div>

    <%- partial('_partial/paginator') %>
</div>
