<div class="container">
    <% if (page.path == "index.html") { %>
    <!-- <div class="hero">
        <div class="group">
            <h2 class="sub"><%= config.subtitle %></h2>
            <h2 class="large"><%= config.description %></h2>
        </div>
    </div> -->

    <a href="#"><h2 class="section-title"><%= __('latest_posts') %></h2></a>
    <% } %>

    <div class="post-list">
        <% page.posts.each(function (post) { %>
        <article class="post-list-item">
            <div class="content">
                <% if (post.categories && post.categories.length) { %>
                <div class="categories<%= theme.uppercase_categories ? ' text-uppercase' : '' %>">
                    <% post.categories.forEach((category) => { %>
                    <span><%= category.name %></span>
                    <% }) %>
                </div>
                <% } %>

                <% if (post.long) { %>
                    <a class="title-permlink<%= post.new_label ? ' new-label' : '' %>" href="<%- url_for(post.path) %>">
                        <div class="content-body content-body-long">
                            <% if (post.cover_image) { %>
                                <div class="cover-img">
                                    <img src="<%= post.cover_image %>" alt="<%= post.cover_image_alt %>">
                                </div>
                            <% } %>
                            <% if (post.show_title) { %>

                                <p class="title">
                                    <%= post.title %>
                                </p>
                            <% } %>

                            <% if (theme.show_excerpt) { %>
                            <p>
                                <%- post.excerpt %>
                            </p>
                            <button class="read-more">Read more</button>
                            <% } %>
                        </div>
                    </a>
                <% } %>

                <% if (post.short) { %>
                <div class="content-body">
                    <%- post.content %>
                </div>
                <% } %>

                <div class="post-footer">
                    <% if (post.reading_time) { %>
                        <div class="reading-time">
                            <span><%- post.reading_time %></span>
                            <% if (post.original_date) { %>
                                <span>minute</span>
                                <span>read</span>
                            <% } %>
                        </div>
                    <% } %>

                    <div class="time">
                        <span><%= ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][post.date.month()] %></span>
                        <span>&nbsp;<%- post.date.date() %>,&nbsp;</span>
                        <span><%- post.date.year() %></span>
                        <% if (post.original_date) { %>
                            <span>(edited)</span>
                        <% } %>
                    </div>
                </div>
            </div>
        </article>
        <% }) %>
    </div>

    <%- partial('_partial/paginator') %>
</div>
