<!DOCTYPE html>
<html lang="<%= config.language %>">
    <head>    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <%- partial('_partial/head') %>
    </head>
    <body
        data-color-scheme="<%= theme.color_scheme %>"
        data-uppercase-categories="<%= theme.uppercase_categories %>"
        data-config-root="<%- config.root %>"
        <% if (theme.toc == true) { %>
        data-toc="<%= theme.toc %>"
        data-toc-max-depth="<%= theme.toc_max_depth %>"
        <% } %>
        <% if (theme.search == true && page.type == 'search') { %>
        data-search-path="<%= theme.search_path %>"
        <% } %>
    >
        <%- partial('_partial/nav') %>
        <%- body %>
        <%- partial('_partial/footer') %>

        <%- js('js/main.js') %>
        <% if (theme.search == true && page.type == 'search') { %>
        <%- js('js/search.js') %>
        <% } %>

        <% if (theme.scroll_reveal) { %>
        <script src="https://unpkg.com/scrollreveal"></script>
        <script>
            window.addEventListener('load', () => {
                ScrollReveal({ delay: 150, reset: true, easing: 'cubic-bezier(0, 0, 0, 1)' })
                ScrollReveal().reveal('.post-list-item .cover-img img')
                ScrollReveal().reveal('.post-list-item, .card, .content p img, .content .block-large img', { distance: '60px', origin: 'bottom', duration: 800 })
            })
        </script>
        <% } %>
        <!-- Additional scripts -->
    </body>
</html>
