<!DOCTYPE html>
<html lang="<%= config.language %>">
    <head>    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <%- partial('_partial/head') %>
    </head>
    <body>
        <%- partial('_partial/skip-navigation') %>
		<%- body %>

        <%- js('js/device-detection.js') %>
        <script type="module" src="<%- url_for('js/main.js') %>"></script>
        <% if (theme.search == true && page.type == 'search') { %>
        <%- js('js/search.js') %>
        <% } %>

        <% if (theme.scroll_reveal) { %>
        <script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js" 
                integrity="sha384-vPeKjrQ3Y7cRNimyiSpBLaTBiMxcDc5dNfD7jFXIBx6P0rl75clO6mUVJitIJQWP" 
                crossorigin="anonymous"></script>
        <script>
            window.addEventListener('load', () => {
                ScrollReveal({ delay: 150, reset: true, easing: 'cubic-bezier(0, 0, 0, 1)' })
                ScrollReveal().reveal('.post-list-item .cover-img img')
                ScrollReveal().reveal('.post-list-item, .card, .content p img, .content .block-large img', { distance: '60px', origin: 'bottom', duration: 800 })
            })
        </script>
        <% } %>

        <script type="module" src="<%- url_for('js/mobile-tabs.js') %>"></script>
        <%- js('js/sound-effects.js') %>
        <!-- Additional scripts -->
    </body>
</html>
