<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <% if (page) { %>
        <article class="post <%= page.type ? 'post-' + page.type : '' %> <%= page.short ? 'short-post' : '' %>">
            <div class="post-back-link">
                <a href="/">← Back to Home</a>
            </div>
            <% if (page.type === 'link') { %>
                <div class="post-header">
                    <h2 class="post-title">
                        <a href="<%= page.url %>" target="_blank" rel="noopener">
                            <%= page.url_label || page.title %>
                        </a>
                    </h2>
                </div>
            <% } else { %>
                <h1 class="post-title"><%= page.title %></h1>
            <% } %>
            
            <%- page.content %>
        </article>
        <% } %>
    </body>
</html>
